/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: text;
}

/* EntryView component */
code {
  white-space : pre-wrap !important;
  word-break: break-word;
}